/* ==========================================================================
   #LOGO
   ========================================================================== */


.c-site-logo {

  height: 72px;

  flex: 1;
  img {
    height: 72px;
  }

  &:hover {
    opacity: $global-opacity;
    transition: $global-transition;
  }
}
