///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/


/**
 * This is variable list is made up of all colours used in the project,
 * they can be used for text & background colours.
 *
 */


/** PRIMARY COLORS **/
$primary-brand-color: blue;
$primary-brand-color-hocus: #2d2d5b;


/** SECONDARY COLORS **/
$secondary-color-white: #ffffff;

//Grey 
$secondary-color-grey: #666666;
$secondary-color-lightest-grey: #f3f3f1;
$secondary-color-light-grey: #9d9da5;
$secondary-color-medium-grey: #adadb0;
$secondary-color-button-grey: #dddcdc;




//Purple
$secondary-color-purple: #1c1c38;
$secondary-color-dark-purple: #121225;
$secondary-color-medium-purple: #adadb9;
$secondary-color-light-purple: #2d2d5b;

//Beige
$secondary-color-beige: #c8c0b8;

//White
$secondary-color-white: #ffffff;

//Black
$secondary-color-black: #101023;

//Green
$secondary-color-green: #32b0ac;
$secondary-color-light-green: #5ed578;

//Form
$form-background: #f3f3f1;
$form-border: #e9e7e7;
$form-info: #ccc;

